card {
   width: 18rem;
   color: black;
}

.list-group-item{
   color: black;
}

.list-group-flush{
   color: black;

}

/* manages top accordion block */
.restaurantShow {
  padding: 0px;
  overflow: inherit;
  background-color: rgba(0,0,0,.03);
  border: 0px;
  border-bottom-color: transparent;
  border-bottom: none;
}

.restaurantName{
  background-color:rgba(0,0,0,.03);
  padding: 3px;

}

.accordion {
   color: black;
   margin: 0;
   position: fixed;
   width: 240px ;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   background-color: rgba(0,0,0,.03);
  
}


.btn-link {
  font-weight: 400;
  color: black;
  text-decoration: none;
  text-align: left;
}

/* manages the reviews */
.scroll {
  max-height: 200px;
  overflow-y: auto;
  padding: 8px 2px 2px 2px;
  background-color: rgba(0,0,0,.03);

}

/*Heart*/


.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 91%;
  top: 47%;
  transform: translate(-50%, -50%);
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}
.heart:hover {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}
