card {
    width: 18rem;
    color: black;
 }
 
 .list-group-item{
    color: black;
 }
 
 .list-group-flush{
    color: black;
 
 }
 
 .accordion {
    color: black;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
 }
 
 .resultsCard {
    /* for styling all result cards */
 }
 
 .cardText {
    color: blueviolet;
 }