span {
  padding: 5px;
  font-size: 36px;
  text-align: center;
  
}

.page-header {
  position: fixed;
  top: 0;
  width:100%;
  color: black;
  background-color: #3DA5D9;
  font-family: 'Press Start 2P', cursive;
  max-block-size:  100%;
  font-size: 30px;
  
}