span {
  padding: 5px;
  font-size: 36px;
  text-align: center;
}

.page-header {
  position: absolute;
  top: 0;
  width:100%;
  color: black;
  background-color: #3DA5D9;
  font-family: 'Pacifico', cursive;
  max-block-size:  100%;
  font-size: 30px;
  margin-bottom: 20px;
  z-index: 1000;
  
}