* {
    color: black;
}

.RestaurantInfo__img {
    display: block;
    width: 25%;
    height: 10%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.RestaurantInfo {
    text-align: center;
    background:rgb(211,211,211, .50);
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}